#{extends 'main.html' /}
#{set title:'Sign in' /}

<div id="home">

    <h2>The Play's Chat demonstration</h2>

    <div id="signin">
        #{form @enter()}
            #{if flash.error}
                <div class="alert-message error">
                    <p>${flash.error}</p>
                </div>
            #{/if}
            <p>
                <label for="nick">Choose a nick name</label>
                <input type="text" name="user" id="user">
            </p>
            <p>
                <label></label>
                <input type="submit" id="enter" value="Enter the chat room">
            </p>
        #{/form}
    </div>

</div>