#{extends 'main.html' /}
#{set title:'Sign in' /}

<div id="home">

    <div class="row show-grid">

    <div class="span10 offset6">
      <img src="/public/images/ring.png" />

      <div id="signin">
        #{form @enter()}
          #{if flash.error}
              <div class="alert-message error">
                  <p>${flash.error}</p>
              </div>
          #{/if}
          <p>
              <label for="nick">Please Input Your Nickname</label>
              <input type="text" name="user" id="user">
          </p>
          <p>
              <label></label>
              <input type="submit" class="btn primary" id="enter" value="入室">
          </p>
        #{/form}
      </div>
    </div>

</div>